@charset "UTF-8";

body {
	margin: 0;
	background-color: #e3f2fd;
}

#topbar {
	vertical-align: top;
	background-color: #e3f2fd;
	width: 100%;
	z-index:100;
	left: 0;
	top: 0;
}


#content {
	padding:5px;	
}

#bottom {
	bottom:0;
	background-color: #e3f2fd;
}